.projects {
   /* Styles for all swiper-slide elements within .projects */
}

.projects .swiper-slide {
   padding-top: 70%;
   overflow: hidden;
   position: relative;
}

.projects .swiper-slide img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
}

.projects .swiper-button-prev {
   left: 30px;
   color: rgb(255, 255, 255);
}

.projects .swiper-button-next {
   right: 30px;
   color: rgb(255, 255, 255);
}

.projects-thumbs {
   /* Styles for all swiper-slide elements within .projects-thumbs */
}

.projects-thumbs .swiper-slide {
   cursor: pointer;
   border: 1px solid #dddbdb;
}

.projects-thumbs .swiper-slide-thumb-active {
   border-color: #ff02f2;
}

.projects-thumbs-wrapper {
   width: 100%;
   padding-top: 65%;
   overflow: hidden;
   position: relative;
}

.projects-thumbs-wrapper img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
}